<settings>
    <servers>
        <server>
            <id>my-nexus-snapshots</id>  
            <username>admin</username>
            <password>redhat</password>
        </server>
        <server>
            <id>my-nexus-releases</id> 
            <username>admin</username>
            <password>redhat</password>
        </server>
    </servers>
</settings>
